/* src/components/navbar.css */
.navbar {
  background-color: #1f2937;
}

.navbar-brand img {
  width: 100px;
}

.search-form {
  width: 50%; /* Adjust this to change the width of the search bar */
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
